In [57]:
import pandas as pd
drought_df = pd.read_csv('/content/drought2012-2023.csv')

In [58]:
drought_df.head()

,YEAR,MONTH,DAY,STID,TMAX,TMIN,TAVG,DMAX,DMIN,DAVG,...,S60NO,S60BD,TR05,R05BD,TR25,R25BD,TR60,R60BD,TR75,R75BD
0,2012,1,1,ACME,54.16,31.71,42.35,30.33,16.05,24.39,...,-999,-999,1.5364,0,1.4526,0,1.7743,0,-999,-999
1,2012,1,1,ADAX,55.78,34.42,44.48,32.55,17.12,24.95,...,-999,-999,1.4050,0,1.5394,0,-996.0000,48,-999,-999
2,2012,1,1,ALTU,53.19,31.49,41.37,29.75,13.47,23.10,...,-999,-999,-996.0000,48,-996.0000,48,-996.0000,48,-999,-999
3,2012,1,1,ALVA,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,...,-999,-999,-999.0000,-999,-999.0000,-999,-999.0000,-999,-999,-999
4,2012,1,1,ALV2,50.58,26.41,38.55,28.05,18.69,23.69,...,-999,-999,1.4445,0,1.4510,0,-996.0000,48,-999,-999

In [59]:
drought_df = drought_df[drought_df.STID == 'OKCE']

In [65]:
drought_df = drought_df.drop(['STID'],axis = 1)

In [66]:
Missing_value_cols = []
for col in drought_df.columns:
  if (drought_df[col]< 0).any():
    Missing_value_cols.append(col)

In [67]:
Missing_value_count = (drought_df[Missing_value_cols] < 0).sum().sort_values(ascending = False).to_frame()
drop_cols = Missing_value_count[Missing_value_count[0] > drought_df.shape[0]/10].index.values

## Dropping values having more than 10% of missing values
drought_df = drought_df[set(drought_df.columns.values) - set(drop_cols)]
# for col in Missing_value_cols:
#   print((drought_df[col] < 0).sum())

<ipython-input-67-2e192834410e>:5: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  drought_df = drought_df[set(drought_df.columns.values) - set(drop_cols)]

In [68]:
drought_df[drought_df < 0] = 0

In [70]:
drought_df.shape

(4019, 84)

In [29]:
# drought_df[drought_df < -990]
# drought_df['RAIN']
drought_df[(drought_df.drop(['STID'],axis = 1) < -900).any(axis= 1) == False)]

AttributeError: ignored

In [ ]:
 drought_df[drought_df < -990]

In [ ]:
geo_df = pd.read_csv('/content/geoinfo.csv')
station_df = pd.read_excel('/content/stationIDtoCounty.xlsx')

In [ ]:
geo_df[geo_df.stid == 'OKCE']

,stnm,stid,name,city,rang,cdir,cnty,nlat,elon,elev,...,A75,N75,BULK75,GRAV75,SAND75,SILT75,CLAY75,TEXT75,datc,datd
93,130,OKCE,Oklahoma City East,Oklahoma City,3.0,E,Oklahoma,35.47226,-97.46414,355,...,0.337,1.51,1.56,0.0,83.7,7.5,8.8,Loamy Sand,20070420,20991231